@charset "utf-8";
/**總體設定-------------------**/
body,html{
    background-color:#FDF6AB;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
/**navbar上方導覽列設定-------------------**/
.top_navbar{
    background-color: #4D6C74;
}
/**上方導覽列search設定-------------------**/
.search{
    background-color:#FFFFFF;
}