@charset "utf-8";
/**總體設定-------------------**/

body, html {
    font-family: 'Handlee', 'Noto Sans TC';
    height: 100%;
    overflow-x: hidden;
    background-color: #FFF6B7;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 3%;
    padding-bottom: 3%;
    /* background-image: url(../imgs/VBwhoPt.png); */
    background-repeat: no-repeat;
}

/**導覽列設定-------------------**/

.top_navbar {
    background-color: #444054;
}

.btn-signout {
    width: 4em;
    padding: 2%;
    margin: 10px;
    color: #BEBBBB;
    background: none;
    text-align: middle;
    font: normal normal bold 1.5rem "微軟正黑體";
    border-radius: 8px;
    border-style: solid;
    border-color: #BEBBBB;
}

.btn-signout:hover {
    color: #ffffff;
    background-color: #DB7493;
}

.search {
    background-color: #FFFFFF;
}

.nav {
    font-size: 1.3rem;
    text-align: center;
}

/**label尚未開始、執行中、已完成大小設定-------------------**/

.label {
    width: 200px;
    height: 50px;
    background-color: #444054;
}

/**專案調整設定-------------------**/

.card-set {
    max-width: 280px;
    min-width: 280px;
    margin-top: 10px;
}

/**card顏色等設定-------------------**/

.card {
    max-width: 250px;
    min-width: 250px;
    height: 125px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px;
    background: none;
    border: none;
}

.card:hover .block-setting {
    display: block;
}

.block-card {
    height: 90%;
    width: 95%;
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 2.5%;
    border: 3px #ffffff solid;
}

.card-link {
    height: 100%;
    width: 100%;
    color: black;
}

.card-link:hover {
    color: black;
    text-decoration: none;
}

.card-color-body {
    height: 100%;
    width: 100%;
    background: #FFD3BC;
}

.card-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-setting {
    display: none;
    height: 110%;
    width: 25%;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: -5%;
    right: 1%;
    background: rgba(255, 255, 255, 0.6);
}

.card-setting {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .card-color-footer {
    background: #F5F1ED;
    color: #FFFFFF;
} */

.card-color-body-ing {
    height: 100%;
    width: 100%;
    background: #FF84A3;
}

.card-color-body-end {
    height: 100%;
    width: 100%;
    background: #FF3F72;
}

.card-color-special {
    width: 250px;
    height: 126.35px;
    text-align: center;
    padding-top: 16%;
    background: rgba(190, 187, 187, 0.3);
    border: 2px #ffffff solid;
    cursor: pointer;
}

/**tub垃圾桶設定-------------------**/

.tub {
    position: fixed;
    right: 15px;
    bottom: 20px;
}