@charset "utf-8";
/* 總體設定------------------- */

body, html {
    height: 100%;
    background-color: #FFF6B7;
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%23ffef88' cx='45' cy='45' r='10'/%3E%3Cg fill='%23bebebe' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E"); */
    overflow: auto;
    font-family: 'Handlee', 'Noto Sans TC';
    font: normal normal bold;
}

/* 下方內容-------------------*/

.container-fluid {
    /* display: inline; */
    vertical-align: center;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
    background-repeat: no-repeat;
}

/* 上方導覽列設定-------------------*/

.top_navbar {
    z-index: 1;
    background-color: #444054;
}

.btn-signout {
    width: 4em;
    padding: 2%;
    margin: 10px;
    color: #BEBBBB;
    background: none;
    text-align: middle;
    font: normal normal bold 1.5rem "微軟正黑體";
    border-radius: 8px;
    border-style: solid;
    border-color: #BEBBBB;
}

.btn-signout:hover {
    color: #ffffff;
    background-color: #DB7493;
}

.search {
    background-color: #FFFFFF;
}

/* 下方導覽列設定-------------------*/

.nav-list {
    z-index: 1;
    background-color: #FFFAFA;
    font-size: 1.3rem;
    text-align: center;
    padding: 1.5%;
}

.nav-list:hover {
    background-color: #BEBBBB;
    font: #ffffff;
}

/* RWD */

/* 
@media only screen and (max-width: 456px) {
    .nav-item {
        font: normal normal bold 1.5rem ;
    }
} */

/* 工作移動欄-------------------*/

.card {
    margin-left: -100%;
    float: left;
    padding: 1%;
    height: 90%;
    background-color: #FFE9DD;
    min-width: 20%;
    position: fixed;
    z-index: 5;
    top: 1;
    left: 0;
    overflow: auto;
}

.card-title {
    margin-bottom: 5%;
    color: #2F243A;
    font: normal normal bold 1.7rem;
}

.btn-move-work {
    width: 100%;
    padding: 0.5rem;
    color: #2F243A;
    background: #FFA5AB;
    text-align: center;
    font-size: 1.5rem;
    border: 0px none;
}

.btn-move-list {
    width: 100%;
    padding: 0.5rem;
    color: #2F243A;
    background: #FFA5AB;
    text-align: center;
    font-size: 1.5rem;
    border: 0px none;
}

.btn-ok {
    float: right;
    margin-top: 25%;
    color: #c95957;
    background: none;
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: solid;
    border-color: #e58b82;
}

.btn-ok:hover {
    color: #ffffff;
    background: #e58b82;
    border-color: #e58b82;
}

/* 我的工作內容-------------------*/

.mywork-content {
    float: left;
    position: relative;
    margin-left: 40%;
    margin-top: 5%;
    width: 70%;
}

/* RWD */

@media only screen and (max-width: 456px) {
    .mywork-content {
        margin-left: 1%;
        margin-top: 1%;
    }
}

/* 專案工作列表長度------------------- */

.project-group {
    width: 100%;
}

.list-group {
    margin-top: -1%;
    margin-left: 5%;
}

.work-group {
    width: 100%;
    vertical-align: center;
}

/* 按鈕------------------- */

.onoff-align {
    margin-left: 3%;
}

.btn-collapse {
    width: 8rem;
    padding: 1% 1% 0 1%;
    margin-bottom: 1%;
    color: #2F243A;
    background: none;
    text-align: left;
    font-size: 1.7rem;
    border-radius: 0px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #2F243A;
}

.btn-collapse:focus {
    outline: none;
}

.btn-work {
    width: 100%;
    padding: 2.5%;
    margin-top: 2%;
    color: #2F243A;
    background: #FFA5AB;
    text-align: left;
    font-size: 1.5rem;
    border: 0px none;
    border-radius: 6px;
}

.btn-work:focus {
    outline: none;
}

.rd-move {
    display: none;
}

.label-move {
    display: inline-block;
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 45%;
    margin-left: 40%;
    background: #ffffff;
    border: 0.2rem #444054 solid;
}

/* upload------------------- */

.upload_cover {
    margin-top: 40%;
    margin-left: 20%;
}

#upload_input {
    display: none;
}

/* ON/OFF------------------- */

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-onoff {
    position: relative;
    float: left;
    margin-top: 15px;
    width: 100px;
    height: 50px;
    overflow: hidden;
}

/* project-group裡面-- */

.project-group .btn-onoff {
    margin-left: 5%;
}

/* ------------------- */

.btn-onoff.r, .btn-onoff.r .layer {
    border-radius: 100px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
    border: 0.09rem #03a9f4 solid;
}

#button-9 .knobs:before, #button-9 .knobs:after, #button-9 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 10px 4px;
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-9 .knobs:before {
    content: 'YES';
    left: 4px;
    text-align: center;
    font: normal normal bold 13px;
    margin-left: 7%;
    margin-top: 9%;
}

#button-9 .knobs:after {
    content: 'NO';
    margin-left: 62%;
    font: normal normal bold 13px;
    margin-top: 9%;
}

#button-9 .knobs:before, #button-9 .knobs:after {
    color: #fff;
    z-index: 2;
}

#button-9 .knobs span {
    top: 22%;
    left: 9.5px;
    width: 30px;
    height: 30px;
    background-color: #03a9f4;
    z-index: 1;
}

#button-9 .checkbox:checked+.knobs:after {
    margin-left: 62%;
}

#button-9 .checkbox:checked+.knobs span {
    left: 59px;
    background-color: #F44336;
}

#button-9 .checkbox:checked~.layer {
    background-color: #FCE3E3;
    border: 0.09rem #F44336 solid;
}

/* work-modal */

.modal-content {
    background-color: #fffac2;
}

.text-left {
    margin: 0 0 1% 0;
    font-size: 1.5rem;
}

.modal-work-content {
    width: auto;
    padding: 1%;
    margin: 0 0 1% 0;
    color: #2F243A;
    background: #fffbd5;
    text-align: justify;
    font: normal normal bold 1.3rem;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #f2d293;
}

.modal-work-deadline, .modal-work-tag, .modal-work-principal, .modal-work-file {
    display: inline-block;
    padding: 1%;
    margin: 0 0 1% 0;
    color: #ffffff;
    background: #a96f57;
    text-align: justify;
    font: normal normal bold 1.3rem;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #a96f57;
    text-decoration: none;
}

.modal-work-file:hover {
    color: #ffffff;
    text-decoration: none;
}

.modal-edit {
    width: 100%;
    padding: 0.5rem;
    color: #f3bb4c;
    background: none;
    text-align: middle;
    font-size: 1.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: #f3bb4c;
    text-decoration: none;
}

.modal-edit:hover {
    color: #ffffff;
    background: #f3bb4c;
    text-decoration: none;
}