@charset "utf-8";
/**總體設定-------------------**/
body,html{
    height: 100%;
    overflow-x: hidden;
    /* background-color: #4D6C74; */
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    /* background-color: #4D6C74; */
    /* background-image: url(../imgs/VBwhoPt.png); */
    background-repeat: no-repeat;
    height: 800px;
}
/**navbar上方導覽列設定-------------------**/
.top_navbar{
    background-color: #4D6C74;
}
/**上方導覽列search設定-------------------**/
.search{
    background-color:#FFFFFF;
}
/**分割畫面顏色-------------------**/
.grid-1{
    background:#999;
    height: 800px;
}
.grid-2{
    background:#4D6C74;  
    height: 800px;
}
.grid-3{
    background:#666;  
    height: 800px;
}
/**工作人頭貼-------------------**/
.img-circle{
    width:45px;
    height:45px;
    border-radius:50%;
}
/**灰灰喵列表長度-------------------**/
.list_set{
    height:4rem;
}
/**我的工作列表長度-------------------**/
.list-group-1{
    width:20rem;
}
.list-group-2{
    width:15rem;
    margin-top: 2rem;
    margin-left:5rem;
}
.list-group-3{
    width:40rem;
    margin-top: 2rem;
    margin-left:5rem;
}

/**ON/OFF-------------------**/
.on-off-set{
    margin-top:2rem;
}
.onoffswitch {
    position: relative; width: 160px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 50px; padding: 0; line-height: 50px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 12px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 114px;
    border: 2px solid #999999; border-radius: 0px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/**update-------------------**/
.upload_cover {
    position: relative;
    margin-left: auto;
    }
    #upload_input {
    display: none;
    }