<!DOCTYPE html>
<html lang="utf-8">

<head>
    <title>Plan Yourself</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/mywork.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Handlee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
</head>

<body>
    <div class="fixed-top no-gutters set-fixed">
        <!--------------------上方導覽列------------------->
        <nav class="navbar navbar-expand-lg navbar-dark top_navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mt-2" href="login">
                <h3>Plan Yourself</h3>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <form class="form-inline my-2 my-lg-0 mx-auto">
                    <input class="form-control mr-2 search-input" type="search" placeholder="專案代碼"
                        aria-label="Search">
                    <button class="btn-signout" type="submit">搜尋</button>
                </form>
                <form class="form-inline my-2 my-lg-0 mr-end">
                    <button class="btn-signout my-2 my-sm-0" type="submit">登出</button>
                </form>
            </div>
        </nav>
        <!--------------------下方導覽---------------------->
        <ul class="nav nav-tabs nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link bg-light text-dark" href=<%= "/member?userid=" + account %>>會員</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-light text-dark" href=<%= "/content?userid=" + account %>>計畫</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-light text-dark" href="mywork">我的工作</a>
            </li>
        </ul>
        <!----------------------左側移動視窗----------------------->
        <div class="row no-gutters">
            <div class="col-md-3">
                <div class="mywork-movelist" id="movelist">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">目前所在位置</h5>
                            <h5 class="card-title">目前列表名稱</h5>
                            <button class="btn-move-work">工作</button>
                        </div>
                        <hr style="width: auto">
                        <div class="card-body">
                            <h5 class="card-title">移動到：</h5>
                            <button class="btn-move-list dropdown-toggle" type="button">
                                列表選項
                            </button>
                            <button class="btn-ok" type="button">
                                確定
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------我的專案列表工作顯示------------>
    <div class="container-fluid">
        <div class="col-md-9">
            <div class="mywork-content">
                <div class="project-group">
                    <div class="row no-gutters">
                        <div class="col-md-9">
                            <button class="btn-collapse dropdown-toggle" type="button" data-toggle="collapse"
                                data-target="#collapseOne">
                                專案
                            </button>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-1">
                            <div class="onoff-align">
                                <div class="btn-onoff r" id="button-9">
                                    <input type="checkbox" class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="list-group collapse">
                    <button class="btn-collapse dropdown-toggle" type="button" data-toggle="collapse"
                        data-target="#collapseTwo">
                        列表
                    </button>
                    <div class="work-group collapse" id="collapseTwo">
                        <div class="row no-gutters">
                            <div class="col-md-1">
                                <!-- id需要自動產生 -->
                                <input class="rd-move" type="radio" id="radio-move1" name="move">
                                <label class="label-move" for="radio-move1"></label>
                            </div>
                            <div class="col-md-8">
                                <button class="btn-work" type="button" data-toggle="modal"
                                    data-target="#modal-workdetail">
                                    工作
                                </button>
                            </div>
                            <div class="col-md-1">
                                <label class="upload_cover">
                                    <input id="upload_input" type="file">
                                    <span class="upload_icon"><img src="./imgs/paperclip-4x.png"></span>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <div class="btn-onoff r" id="button-9">
                                    <input type="checkbox" class="checkbox">
                                    <div class="knobs">
                                        <span></span>
                                    </div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------ Modal ------------------------>
    <!------------ 點擊工作後出現的內容 ------------>
    <div class="modal fade bd-example-modal-lg" id="modal-workdetail" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myLargeModalLabel">work-title</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-left">工作內容</p>
                    <p class="modal-work-content">這只是一個工作內容的顯示
                        這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示這只是一個工作內容的顯示
                    </p>
                    <hr>
                    <p class="text-left">截止日期</p>
                    <p class="modal-work-deadline">2019/05/30 12:00:00</p>
                    <hr>
                    <p class="text-left">標籤</p>
                    <p class="modal-work-tag">功能</p>
                    <hr>
                    <p class="text-left">檔案</p>
                    <a class="modal-work-file" download href="./企鵝(檔案下載測試).zip">
                        檔案.zip
                    </a>
                    <hr>
                    <p class="text-left">負責人</p>
                    <p class="modal-work-principal">睡著的企鵝</p>
                    <p class="modal-work-principal">醒來的企鵝</p>
                    <hr>
                    <div style="float: right; margin:10px;">
                        <a class="modal-edit" href="project_list_work.html">編輯</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------scrpit----------->
    <!-----------------------------------scrpit-------------------------------------------->
    <script>
        function UpdateProjectLinebotPush(project_id, value) {
            if ($('#projecthint').is(":checked")) {
                value = true;
            } else {
                value = false;
            }

            $.ajax({
                type: 'POST',
                url: 'mywork/updateProjectLinebotPush',
                data: { project_id: project_id, project_hint: value }
            });
        }

        function UpdateWorkLinebotPush(work_id, value) {
            if ($('#workhint').is(":checked")) {
                value = true;
            } else {
                value = false;
            }

            $.ajax({
                type: 'POST',
                url: 'mywork/updateWorkLinebotPush',
                data: { work_id: work_id, work_hint: value }
            });
        }

        function Upload(input, work) {
            if (input.files && input.files[0]) {
                if (input.files[0].type != "application/x-zip-compressed") {
                    alert("只能上傳zip檔");
                } else {
                    console.log(input.files[0]);
                    var type = input.files[0].type;
                    var reader = new FileReader();

                    // Closure to capture the file information.
                    reader.onload = (function (file) {
                        return function (e) {
                            var base64Data = e.target.result;
                            work.file = base64Data;
                            work.file_name = input.files[0].name;
                            $.ajax({
                                type: 'POST',
                                url: 'mywork/updateFile',
                                // data: { "workUpdate": work }
                                data: { "work_id": work.work_id, "file": work.file }
                            });
                        };
                    })(input.files[0]);
                    // Read in the file as a data URL.
                    reader.readAsDataURL(input.files[0]);
                }
            }

        }

        function SetListInfo(options, listwork_serno, listName) {
            var left = $('#slider-left').css("left");

            if (left == "0px") {
                for (var i = 0; i < options.length; i++) {
                    if (options[i].list_name != listName) {
                        $('#options').append("<option id='" + options[i].list_id + "' value='" + listwork_serno + "'>" + options[i].list_name + "</option>");
                    }
                }
                if ($('#options option').length == 0) {
                    $('#options').append("<option value=''>無其他列表選項</option>");
                }
                $('#list_name').text(listName);
            } else {
                $('option').remove();
            }
        }

        function UpdateListWork() {
            var canSubmit = true;
            var s = document.getElementById('options');
            var listwork_serno = s.options[s.selectedIndex].value;
            var list_id = s.options[s.selectedIndex].id;

            if (listwork_serno == "" && list_id == "") {
                alert("無其他列表選項無法移動工作!");
                canSubmit = false;
            }

            if (canSubmit) {
                $.ajax({
                    type: 'POST',
                    url: 'mywork/updateListWork',
                    data: { listwork_serno: listwork_serno, list_id: list_id }
                });
            }
        }

        function SetWorkInfo(workId, workTitle, workContent, deadline, tagname1, color1, tagname2, color2, tagname3, color3, tagname4, color4, tagname5, color5, tagname6, color6, file_name, file, principal_photo1, principal_photo2) {
            $('#work_id').text(workId);
            $('#work_title').text(workTitle);
            $('#work_content').text(workContent);
            $('#deadline').text(deadline);
            $('#file').text(file_name);
            $('.modal-work-file').attr("href", file);
            console.log(file);

            if (tagname1 != "null") {
                $('#tag1').text(tagname1);
                $('#tag1').css("background", color1);
            }

            if (tagname2 != "null") {
                $('#tag2').text(tagname2);
                $('#tag2').css("background", color2);
            }

            if (tagname3 != "null") {
                $('#tag3').text(tagname3);
                $('#tag3').css("background", color3);
            }

            if (tagname4 != "null") {
                $('#tag4').text(tagname4);
                $('#tag4').css("background", color4);
            }

            if (tagname5 != "null") {
                $('#tag5').text(tagname5);
                $('#tag5').css("background", color5);
            }

            if (tagname6 != "null") {
                $('#tag6').text(tagname6);
                $('#tag6').css("background", color6);
            }

            if (principal_photo1 != "null") {
                $('#first_principal').attr("src", 'data:image/png;base64,' + principal_photo1);
            } else {
                $('#first_principal').attr("src", 'imgs/people1.png');
            }

            if (principal_photo2 != "null") {
                $('#second_principal').attr("src", 'data:image/png;base64,' + principal_photo2);
            } else {
                $('#second_principal').attr("src", 'imgs/people1.png');
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="js/mywork.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>